{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Minha Conta{% endblock %}
{% block container %}
<ol class="breadcrumb">
  <li><a href="{% url 'accounts:index' %}">Home</a></li>
  <li class="active">Options</li>
</ol>
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a href="{% url 'accounts:index' %}" class="list-group-item active">Options</a>
            <a href="{% url 'accounts:update_user' %}" class="list-group-item">Update user</a>
            <a href="{% url 'accounts:update_password' %}" class="list-group-item">Update password</a>
            <a href="{% url 'archivebinaries' %}" class="list-group-item">Archive Binaries</a>
            <a href="{% url 'deploy' %}" class="list-group-item">Deploy</a>
            <a href="{% url 'viewlog' %}" class="list-group-item">System Log</a>
            <a href="{% url 'logout' %}" class="list-group-item">Logout</a>
        </div>

        <div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="#" id="pop">
                        <img id="imageresource" src="{% static 'img/continuous-delivery.png' %}" alt="">
                    </a>

                    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                          </div>
                          <div class="modal-body">
                            <img src="" id="imagepreview" style="width: 470px; height: 345px;" >
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                     <script>
                        $("#pop").on("click", function() {
                           $('#imagepreview').attr('src', $('#imageresource').attr('src')); // here asign the image to the modal when the user click the enlarge link
                           $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
                        });
                    </script>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        {% block accounts_container %}
            <h2>Welcome {{ user }}</h2>
        {% endblock %}
    </div>
</div>
{% endblock %}
