{% extends "accounts/index.html" %}

{% load widget_tweaks %}

{% block title %}Alterar Dados{% endblock %}

{% block accounts_container %}
    <h2>Sincronizar Aplicativo Android</h2>
    <p>Após instalar o aplicativo <strong>Mobile Health App</strong> em seu smartphone <strong>Android</strong>, acesse o menu da tela principal e selecione a opção  <strong>Sincronizar Conta Web</strong>,
        em seguida basta ler o <strong>Qrcode</strong> abaixo: </p>

    <br />

    <img id='barcode'
            src="https://api.qrserver.com/v1/create-qr-code/?data={{ user.id }}|{{ user.name }}&amp;size=100x100"
            alt=""
            title="Qrcode"
            width="300"
            height="300" />
{% endblock %}
