{% extends "accounts/index.html" %}

{% load widget_tweaks %}

{% block title %}Update user{% endblock %}

{% block accounts_container %}
    <h2>Deploy</h2>
    <header class="jumbotron hero-spacer">
            <form id="form" onsubmit="return _validateForm()" class="form-horizontal" method="post">
			        {% csrf_token %}
			        <fieldset>
			            {% for field in form %}
			            <div class="form-group{% if field.errors %} has-error{% endif %}">
			              <label for="{{ field.auto_id }}" class="col-md-3 control-label">{{ field.label }}</label>
			              <div class="col-md-9">
			                {% render_field field class='form-control' %}
			                {% for error in field.errors %}
			                <span class="help-block">{{ error }}</span>
			                {% endfor %}
			              </div>
			            </div>
			            {% endfor %}
			            <div class="form-group">
			              <div class="col-md-9 col-md-offset-3">
			                <button  type="submit"  class="btn btn-primary" onclick="return _confirm()">Run</button>
			              </div>
			            </div>
			        </fieldset>
			</form>
			<script type="text/javascript">
					function _validateForm(){
					 	$.blockUI({ message: '<h4>Wait, processing deploy...</h4>' });
					}
					function _confirm(){
					    url = document.getElementById("id_url_project_repository").value;
					    destination = document.getElementById("id_server_jboss").value;
					    if(destination > 0 && url){
					        return confirm('Confirm Deploy?');
					    }else{
					        return true;
					    }

					}
			</script>
        </header>
{% endblock %}
